In [11]:
import pandas as pd
df_mode= pd.read_csv("Average_Daily_Ridership_By_Mode - City of Philadelphia.csv")
df_Route=pd.read_csv("Average_Daily_Ridership_By_Route - City of Philadelphia.csv")

In [15]:
df_mode.head()

,Calendar_Year,Calendar_Month,Mode,Average_Daily_Ridership,Source,ObjectId
0,2019,1,Bus,459160,APC,1
1,2019,1,CCT,4294,Revenue,2
2,2019,1,Heavy Rail,296709,Revenue,3
3,2019,1,Regional Rail,122856,Revenue,4
4,2019,1,Trackless Trolley,16853,APC,5

In [14]:
df_Route.head()

,Calendar_Year,Calendar_Month,Route,Average_Daily_Ridership,Source,ObjectId
0,2019,8,59,3811,APC,2
1,2019,8,60,8550,APC,3
2,2019,8,61,3563,APC,4
3,2019,8,62,226,APC,5
4,2019,8,64,4335,APC,6

In [17]:
print("Description de la DataFrame mode:  \n",df_mode.describe())

Description de la DataFrame mode:
        Calendar_Year  Calendar_Month  Average_Daily_Ridership    ObjectId
count     492.000000      492.000000               492.000000  492.000000
mean     2021.926829        6.378049            106415.569106  246.500000
std         1.969919        3.405902            125651.975381  142.172431
min      2019.000000        1.000000               694.000000    1.000000
25%      2020.000000        3.000000             10281.250000  123.750000
50%      2022.000000        6.000000             53531.000000  246.500000
75%      2024.000000        9.000000            156623.250000  369.250000
max      2025.000000       12.000000            503967.000000  492.000000

In [18]:
print("Description de la DataFrame Route:  \n",df_Route.describe())

Description de la DataFrame Route:
        Calendar_Year  Calendar_Month  Average_Daily_Ridership      ObjectId
count   10994.000000    10994.000000             10994.000000  10994.000000
mean     2021.912407        6.330999              3385.447881   5499.318083
std         1.955398        3.396566              7455.070328   3174.096559
min      2019.000000        1.000000                 0.000000      2.000000
25%      2020.000000        3.000000               641.000000   2751.250000
50%      2022.000000        6.000000              1871.000000   5499.500000
75%      2024.000000        9.000000              4284.000000   8247.750000
max      2025.000000       12.000000            135509.000000  10996.000000

Information sur  Data Frame

In [20]:
print("Info sur la DataFrame mode \n")
df_mode.info()

Info sur la DataFrame mode

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            492 non-null    int64
 1   Calendar_Month           492 non-null    int64
 2   Mode                     492 non-null    object
 3   Average_Daily_Ridership  492 non-null    int64
 4   Source                   492 non-null    object
 5   ObjectId                 492 non-null    int64
dtypes: int64(4), object(2)
memory usage: 23.2+ KB

In [21]:
print("Info sur la DataFrame Route \n")
df_Route.info()

Info sur la DataFrame Route

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10994 entries, 0 to 10993
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            10994 non-null  int64
 1   Calendar_Month           10994 non-null  int64
 2   Route                    10994 non-null  object
 3   Average_Daily_Ridership  10994 non-null  int64
 4   Source                   10994 non-null  object
 5   ObjectId                 10994 non-null  int64
dtypes: int64(4), object(2)
memory usage: 515.5+ KB

Taille de Data Frame

In [22]:
print("Route DataFrame shape:", df_mode.shape)
print("Mode DataFrame shape:", df_Route.shape)

Route DataFrame shape: (492, 6)
Mode DataFrame shape: (10994, 6)

Vérification des valeurs nulls

In [23]:
print("Les valeurs nulles dans le DataFrame mode :\n",df_mode.isnull().sum())
print("Les valeurs nulles dans le DataFrame Route :\n", df_Route.isnull().sum())

Les valeurs nulles dans le DataFrame mode :
 Calendar_Year              0
Calendar_Month             0
Mode                       0
Average_Daily_Ridership    0
Source                     0
ObjectId                   0
dtype: int64
Les valeurs nulles dans le DataFrame Route :
 Calendar_Year              0
Calendar_Month             0
Route                      0
Average_Daily_Ridership    0
Source                     0
ObjectId                   0
dtype: int64

Vérification Des doublons

In [24]:
print("Les doublons dans le DataFrame Route:",df_mode.duplicated().sum())
print("Les doublons dans le DataFrame Mode:",df_Route.duplicated().sum())

Les doublons dans le DataFrame Route: 0
Les doublons dans le DataFrame Mode: 0

Exportation du DataFrame final au format CSV

In [28]:
import os

os.makedirs("../processed", exist_ok=True)

df_mode.to_csv("../processed/philadelphie_mode.csv", index=False)
df_Route.to_csv("../processed/philadelphie_Route.csv", index=False)